body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 219, 214);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.first-letter{
  color: palevioletred;
}
.navbar .navbar-brand{
  font-size: 30px !important;
}

.loading{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center
}